@model IEnumerable<ShopASP.Web.Models.ProductListViewModel>

<h2>Product List</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Cost</td>
                <td>@product.Description</td>
                <td>@product.Quantity</td>
                <td>
                    <a asp-action="Details" asp-route-id="@product.ID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@product.ID">Edit</a> |
                    <a asp-action="Detele" asp-route-id="@product.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add New Product</a>