@model IEnumerable<ShopASP.Web.Models.ProductViewModel>

<h2>Product List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Cost</td>
                <td>@product.Description</td>
                <td>@product.Quantity</td>
                <td>
                    <a asp-action="Details" asp-route-id="@product.ID">Details</a>
                    @if (Context.Session.GetString("UserRole") == "Admin")
                    {
                        <a asp-action="Edit" asp-route-id="@product.ID">Edit</a>
                        <a asp-action="Delete" asp-route-id="@product.ID">Delete</a>
                    }
                    else
                    {
                        <a asp-action="CreateOrder" asp-route-id="@product.ID">Заказать товар</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if(Context.Session.GetString("UserRole") == "Admin")
{
    <a asp-action="CreateProduct" class="btn btn-primary">Add New Product</a>
}