@model ShopASP.Web.Models.UserRoleViewModel

@{
    ViewData["Title"] = "Список пользователей";
}

<h1>Список покупателей</h1>

<p>
    <a asp-action="Create">Новый пользователь</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().Name) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().Pathronomic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().RoleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pathronomic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <a asp-action="Verify" asp-route-id="@item.ID">Верификация</a>
                <a asp-action="Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
